*{
    margin: 0;
    padding: 0;
}

body{
    background-color:rgb(56, 82, 12);
    color:rgb(15, 27, 9);
    font-family: 'Lora', serif;
}

.cv-container{
    max-width:80%;
    background-color:greenyellow;
    margin:0 auto; /*0 means top-bottom: 0px margin and auto means
                    it will horizontally align the item as left-right same margin*/
    padding: 30px;                
}    

header{

}

.dp{
    width: 15%;
    border: rgb(15, 27, 9) 4px solid;
    border-radius: 80%;
    float:left;
}

.header-intro{
    float:left;
    padding:15px;
}

.h1,h2,h3,h4,h5,h6{
    color:rgb(15, 27, 9);
}

.contact{
    float:right;
    padding:20px;
    
}

.contact a{
    text-decoration: none;
    color: rgb(15, 27, 9);
    font-weight: bold;
}

.contact a:hover{
    text-decoration: underline;
    color:salmon;
}

.clear-div{
    clear:both;
}

hr{
    border:7px solid rgb(15, 27, 9);
    max-width: 100%;
    margin:30px auto; 
    border-bottom: none;
}

/*Personal info section*/

.section-personal{

}

.contact{

}

.left-div{
    max-width: 25%;
    float: left;
}

.right-div{
    max-width: 75%;
    float:right;
    text-align:justify;

}

.hr-common{
    border: 2px solid rgb(15, 27, 9);
    border-bottom:none;
    max-width: 100%;
    margin: 25px auto;
}

/*Skill section*/

.skills-subsection-left{
    width: 45%;
    float:left;
    
}

.skills-subsection-right{
    width: 45%;
    float:right;
    
}

/*Footer start*/

.footer-container{
    background-color: rgb(15, 27, 9);
    text-align: center;
    padding: 15px;

}

.footer-container a{
    color:greenyellow;
    text-decoration: none;
    margin:15px;
}

.footer-container a:hover{
    text-decoration: underline;
    color: salmon;
}

.footer-container h6{
    color:greenyellow;
    margin-top:20px;
}
